body {
    background-color: #eff2f5 !important;
}

.backgroung-grey {
    background-color: #eff2f5 !important;
}

.border-none {
    border: none !important;
}

.min-height-80 {
    min-height: 80px;
}

.border-right {
    border-right: solid #9ca1a6 !important;
}

.custom-border {
    border: solid #9ca1a6;
    border-radius: 5px;
}

.blue-color {
    color: #037bfe;
}

button {
    margin-right: 10px;
    margin-left: 10px;
}