<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-1 border-right p-1 text-center mb-1 mt-1">
        <img src="assets/re.png" width="100px" height="100px" />
    </div>
    <!-- Detail article -->
    <div class="col-md-5 border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-10">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-10">Prenom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
                <div class="col-md-10">00243 81 46 744 73</div>
            </div>
        </div>
    </div>

    <!---Detail catégorie-->
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-home blue-color"></i></div>
                <div class="col-md-10">Adresse 1 Adresse 2</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-map-marker-alt blue-color"></i></div>
                <div class="col-md-10">01021 ville</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-globe-europe blue-color"></i></div>
                <div class="col-md-10">Pays</div>
            </div>
        </div>
    </div>

    <!--Boutons actions-->
    <div class="col-md-3 mb-1 mt-1">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="fas fa-list-alt"></i>&nbsp;Details
                </button>
            </div>
        </div>
    </div>
</div>
